
body{
  color: #40514E;
  margin: 0;
  text-align: center;
font-family: 'Josefin Sans', sans-serif;
 }
h1{
  margin-top: 50px;
  font-size: 5.65rem;
  font-weight: normal;
  margin: 0;
 font-family: 'Cookie', cursive;
 color: #66BFBF
}
h2{
  margin: 20px auto 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}

.intro{
  width: 30%;
  margin:auto;

}

.top-container{
  background-color: #b9fffc;
  position: relative;
  padding-top: 100px;
}
.middle-container{
margin: 100px auto 100px auto;
}

.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
  line-height: 2;

}

.webdesign{
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
 }
 .codeskill{
   margin-top: 30px;
   width: 30%;
   float: right;
   margin-left: 30px;
 }

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px 0;
}

.pro{

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}

hr{
  margin: 30px auto 30px auto;
border-color: #EAF6F6;
border-style: none;
border-top-style: dotted;
border-top-width: 10px;
width: 10%;

}

.contact-msg{
  width: 40%;
  margin: 40px auto 40px auto;
}


.btn {
  background: #bfffe8;
  background-image: -webkit-linear-gradient(top, #bfffe8, #2980b9);
  background-image: -moz-linear-gradient(top, #bfffe8, #2980b9);
  background-image: -ms-linear-gradient(top, #bfffe8, #2980b9);
  background-image: -o-linear-gradient(top, #bfffe8, #2980b9);
  background-image: linear-gradient(to bottom, #bfffe8, #2980b9);
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  text-shadow: 0px 1px 3px #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #0d0c0d;
  font-size: 24px;
  padding: 8px 20px 10px 20px;
  border: solid #186696 2px;
  text-decoration: none;
}

.btn:hover {
  background: #707b82;
  background-image: -webkit-linear-gradient(top, #707b82, #3b97d4);
  background-image: -moz-linear-gradient(top, #707b82, #3b97d4);
  background-image: -ms-linear-gradient(top, #707b82, #3b97d4);
  background-image: -o-linear-gradient(top, #707b82, #3b97d4);
  background-image: linear-gradient(to bottom, #707b82, #3b97d4);
  text-decoration: none;
}

a{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  color: #11999E;
  font-weight: bold;
}

a:hover{
  color: #eaf6f6;
}
.license{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
